{% extends "base.html" %}
{% set active_page = "toolset.index" %}

{% block scripts %}
    {{ super() }}
    <!-- THIS JS IS USED TO TAKE SCREENSHOT -->
   <!--  <script type="text/javascript" src='/static/bower_components/html2canvas/build/html2canvas.min.js' type='text/javascript'></script> -->
    <!-- THIS JS IS an AWESOME COLOR LIB -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.4/bootstrap-slider.js"></script> --> 
    <script type="text/javascript" src="/static/js/seams.js"></script>
    <script src="/static/s_tasks.js"></script>
    <script type="text/javascript" src="http://www.eyecon.ro/bootstrap-slider/js/bootstrap-slider.js"></script>
{% endblock %}


{% block link %}
{{ super() }}

<link rel="stylesheet" href="www.eyecon.ro/bootstrap-slider/css/bootstrap.css">
<link rel="stylesheet" href="http://www.eyecon.ro/bootstrap-slider/css/slider.css"> 
<!--     <script>
  $( function() {
    $( "#slider" ).bootstrapSlider();

  } );
  </script> -->
<style>
p {
    margin: 35px 0;
}
p#main-blurb {
    padding: 5px;
    font-size: 1.6em;
    /*background-color:#555;*/
    color: black;
    text-align: justify;
}

.alert-info {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
/*.alert-info {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}*/


</style>
{% endblock %}


{% block content %}


<!--  <br><br> -->
<!-- <p id="main-blurb">
    <u>PRMS Model Run Using Conversion Tools </u>
</p> 
 -->

<br>
<div class = "panel panel-primary">
   <div class = "panel-heading">
      <h3 class = "panel-title">UPDATE SETTINGS</h3>
   </div>
   
   <div class = "panel-body"><br>
      <!-- <form action="/toolset/prms_convert" method="post" enctype="multipart/form-data" data-toggle="validator" role="form" style="margin-left: 100px;">
 -->
        <div class="row">

          <div class="col-xs-5" style="padding-left:75px;">
                  <form id="update_seams" method="post" enctype="multipart/form-data" >
                  <div class="row">
                      <div class="col-xs-6">
                          <label class="control-label">Budget Amount ($): </label>
                          <input class="form-control input-sm" type="number" name="totalamount" id="totalamount" placeholder="amount ($)" step="0.001" required><br><br>
                      </div>
                      <div class="col-xs-6" >
                          <label class="control-label">Budget Period (T<sub>b</sub> in mins): </label>
                          <input class="form-control input-sm" type="number"  name="duration" id="duration" placeholder="duration (in mins)" required><br><br>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" >
                          <label class="control-label">Instance Cost ($/hr): </label>
                          <input class="form-control input-sm" type="number"  name="rate" id="rate" placeholder="rate ($/hour)" step="0.001" required><br><br>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" >
                          <label class="control-label">Avg. Execution Time (sec): </label>
                          <input class="form-control input-sm" type="number"  name="tavg" id="tavg" placeholder="time (seconds)" step="0.001" required><br><br>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6" >
                          <label class="control-label">Job Arrival Rate (&lambda; during T<sub>b</sub>): </label>
                          <input class="form-control input-sm" type="number"  name="lamda" id="lamda" placeholder="" required> <span id="lamdaError" class="error text-danger" style="display:none;"> Error: &lambda; should be less than  &mu;</span> <br><br>
                      </div>
                  </div>

                  <br>
                  <div class="row">
                      <div class="col-xs-2">   
                          <button type="button" class="btn btn-warning" id="updateBtnId">Update</button><br><br><br>
                      </div>
                  </div> 
                  </form>
          </div>

            <div class="col-xs-2">
            </div>

            <div class="col-xs-4">
             
                    <div class="row">
                                    <div id="update_alert_box" class="alert alert-info" role="alert" >
                                         <strong>Current Status</strong><br><br>
                                         <span>Amount Remaining ($) :</span>&nbsp;&nbsp;<span id="u_available"></span><br>
                                         <span>Budget period (min) :</span>&nbsp;&nbsp;<span id="u_period"></span><br>
                                         <span>Instance Cost ($/hr) :</span>&nbsp;&nbsp;<span id="u_instance_cost"></span><br>
                                         <span>Job Arrival Rate (&lambda; during T<sub>b</sub>) :</span>&nbsp;&nbsp;<span id="u_lambda"></span><br>
                                         <span>Max. Rented models Allowed :</span>&nbsp;&nbsp;<span id="u_maxrentedtotal"></span><br>
                                         <span>Time interval(sec) :</span>&nbsp;&nbsp;<span id="u_interval"></span><br>

                                         
                                       
<!--                                          <span>Exp. queue length :</span>&nbsp;&nbsp;<span id="u_qlength"></span><br>
                                         <span>Exp. waiting time :</span>&nbsp;&nbsp;<span id="u_waittime"></span> -->

                                         <br><br><span id="update_notif" style="display:none;"><strong>Settings Updated Successfully...</strong></span>
                                        
                                       
                                     </div>
                  </div> 
                  </div>  
            </div>
        </div>








      <!-- </form> -->

   </div>
</div>


<br><br> 
{% if success == 'true'%} 

<div class="alert alert-success fade in ">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <font size="3" color="black">The files are converted successfully. You can download the netcdf files here....</font> &nbsp;&nbsp;&nbsp;&nbsp;



    <div class="btn-group" role="group" aria-label="...">
      <div class="row">
          <div class="col-xs-3">
            <form action="downloaddatafile" methods=['GET', 'POST']>
                <button type="submit" class="btn btn-default">data.nc</button>
            </form>
          </div>
          <div class="col-xs-3">
            <form action="downloadparamfile" methods=['GET', 'POST']>
                <button type="submit" class="btn btn-default">parameter.nc</button>
            </form>
          </div>
      </div>
    </div>

    <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <br><br> -->
    <br><br><font size="3" color="black">Want to run PRMS Model ?</font><br><br>
      <form action="invoke_model" methods=['GET','POST']>
      <div class="row">
            <div class="col-xs-3">
              <input name="modelTitle" class="form-control input-sm" type="text" placeholder="Please enter a title for the model run" required>
            </div>
            <div class="col-xs-3">
              <button type="submit" class="btn btn-default">RUN PRMS</button>
            </div>
      </div>
      <div class="row">
        {% if modelID %}
         <br>
          &nbsp;&nbsp;&nbsp;&nbsp;PRMS model run initiated. The model run id for the job is {{ modelID }}
        {% endif %}
      </div>
      </form>

</div>
{% endif %} 



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="list-unstyled">
    {% for message in messages %}
    <div class="alert alert-danger">
        <strong>Sorry! An error has occurred.</strong> <li>{{ message }}</li>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}
